---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col h-screen bg-zinc-100">
		<header class="flex flex-col items-center mt-4 mb-4">
			<img src="/logo.svg" class="h-32 w-32" role="presentation" />
			<h1 class="text-center text-3xl font-extrabold">
				Bath Computer Science Society
			</h1>
		</header>
		<main class="flex-1">
			<slot />
		</main>
		<footer class="mb-4 text-center text-sm">
			<p>
				Website by members of
				<a
					class="hover:underline"
					href="https://thesubath.com/bcss"
					target="_blank"
				>
					Bath Computer Science Society (BCSS)
				</a>
			</p>
			<p>
				View the source code on
				<a
					class="hover:underline"
					href="https://github.com/bath-bcss/website"
					target="_blank"
				>
					GitHub
				</a>
			</p>
		</footer>
	</body>
</html>
